@import url('https://fonts.googleapis.com/css2?family=Mandali&family=Overlock&display=swap');
.navbar-transparent{
    background-color: transparent
}
.nav-item{
    padding-left: 10px;
}

.anctag{
    color:#FF8267;
    font-size: 20pt;
    font: bold;
    font-family: 'Mandali', sans-serif;
}
.anctag:hover{
    text-decoration: underline;
}

.smicons{
    color:#FF8267;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
.smicons:hover{
    color:rgba(240, 151, 131, 0.726);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

